<div class="container">
  <div class="row">
    <div class="col-10 offset-1 mt-5">
      <input type="text" class="form-control mb-3" [(ngModel)] = "filterStatus">
      <button class="btn btn-primary mb-3" (click)="onAddServer()">Add Server</button>
      <h3> App Status : {{ AppStatus | async}}</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item " *ngFor="let server of servers | filter:filterStatus:'status'" [ngClass] = "getStatusClasses(server)">
          <strong>{{server.name | customPipe:10 }}</strong> |
          <span> {{server.instanceType | uppercase}} </span> |
          <span> {{server.started | date:'mediumDate'}} </span>
          <span class="badge badge-secondary float-right" [ngClass] ="{'badge-success' : server.status === 'stable'}"> {{server.status}} </span>
        </li>
      </ul>
    </div>
  </div>
</div>
